<%- include('partials/header') %>

<main class="container">
    <div class="about-container">
        <h2>About Me</h2>
        <p>This is the About me page for the Tree Shop application.</p>
    </div>
</main>

<%- include('partials/footer') %>
